{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_title %} - Bag{% endblock %}

{% block extra_meta %}
    <meta name="description" content="Seaside Sewing - Bag. Seaside Sewing, an online ecommerce store selling all you need for your next sewing project from quilting and patchwork, to sewing your own clothes!">
    <meta name="keywords" content="KEYWORDS">

    <!-- Social Media - Facebook, LinkedIn, Google -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="Seaside Sewing - Bag">
    <meta property="og:description" content="Seaside Sewing - Bag. Information on the terms & conditions for Seaside Sewing, an online ecommerce store selling all you need for your next sewing project from quilting and patchwork, to sewing your own clothes!"> 
    <meta name="image" property="og:image" content="{% static 'images/responsive-site-image.png' %}">
    <meta property="og:image:alt" content="Seaside Sewing ecommerce store shown on a variety of devices, from mobile to desktop">
    <meta property="og:url" content="https://seaside-sewing.herokuapp.com/bag/">
    <meta property="og:site_name" content="Seaside Sewing - Bag">
{% endblock %}

{% block content %}
    <div class="row page-title">
        <h3>Your Shopping Bag</h3>
    </div>

    <div class="row">
        <div class="col">
            {% if bag_items %}
                <!-- bag displays vertically stacked on small screens -->
                <div class="d-block d-md-none">
                    <p class="text-muted mb-5 text-center">A summary of your bag contents is below</p>
                    {% for item in bag_items %}
                        <div class="row">
                            <div class="col-12 col-sm-6 mb-2">
                                {% include "bag/product_image.html" %}
                            </div>
                            <div class="col-12 col-sm-6 mb-2">
                                {% include "bag/product_info.html" %}
                            </div>
                            <div class="col-12 col-sm-6 order-sm-last">
                                <p class="my-0">Price: £{{ item.product.price }}</p>
                                <p><strong>Subtotal: </strong>£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                            </div>
                            <div class="col-12 col-sm-6">
                                {% include "bag/quantity_form.html" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col">
                            {% include "bag/bag_total.html" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {% include "bag/checkout_buttons.html" %}
                        </div>
                    </div>
                    <!-- Back to top button -->
                    <div class="back-to-top">
                        <a class="back-to-top-btn btn btn-outline-blue">
                            <i class="fa-solid fa-chevron-up fa-lg"></i>
                        </a>
                    </div>
                </div>

                <!-- Displays horizontally md screens + -->
                <div class="table-responsive rounded d-none d-md-block">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Product Image</th>
                                <th scope="col">Product Details</th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>

                        {% for item in bag_items %}
                            <tr>
                                <td class="p-3 w-25">
                                    {% include "bag/product_image.html" %}
                                </td>
                                <td class="py-3">
                                    {% include "bag/product_info.html" %}
                                </td>
                                <td class="py-3">
                                    <p class="my-0">£{{ item.product.price }}</p>
                                </td>
                                <td class="py-3 w-25">
                                    {% include "bag/quantity_form.html" %}
                                </td>
                                <td class="py-3">
                                    <p class="my-0">£{{ item.product.price | calc_subtotal:item.quantity }}</p> 
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="pt-5 text-right">
                                {% include "bag/bag_total.html" %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right">
                                {% include "bag/checkout_buttons.html" %}
                            </td>
                        </tr>
                    </table>
                </div>

            <!-- Empty Bag -->
            {% else %}
                <p class="lead mb-5">Your bag is currently empty. why not have a look at our latest special offers?</p>
                <a href="{% url 'products' %}" class="btn btn-outline-blue my-2">
                    <span class="mr-2"><i class="fa-solid fa-chevron-left"></i></span>
                    <span>Back to Shop</span>
                </a>
                <a href="{% url 'products' %}?category=new_in,deals,clearance" class="btn btn-outline-blue my-2">
                    <span class="mr-2"><i class="fa-solid fa-shop"></i></span>
                    <span>Special Offers</span>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'products/includes/quantity_input_script.html' %}

    <!-- Back to top button -->
    <script>
        $('.back-to-top').click(function(e) {
            window.scrollTo(0,0)
        })
    </script>

    <script>
        // Update quantity on click
        $('.update-item').click(function(e) {
            var form = $(this).prev('.update-form');
            form.submit();
        })
    
        // Remove item and reload on click
        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var url = `/bag/remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken};
    
            $.post(url, data)
            .done(function() {
                location.reload();
            });
        })
    
    </script>
{% endblock %}