{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row text-center px-2">
        <h3>Your Shopping Bag</h3>
    </div>

    <div class="row">
        <div class="col">
            {% if bag_items %}
            <div class="table-responsive rounded d-none d-md-block">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Product Details</th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in bag_items %}
                        <tr>
                            <td class="p-3 w-25">
                                <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-fluid">
                            </td>
                            <td class="py-3">
                                <p class="my-0">{{ item.product.name }}</p>
                                <p class="my-0 text-muted">{{ item.product.sku }}</p>
                            </td>
                            <td class="py-3">
                                <p class="my-0">£{{ item.product.price }}</p>
                            </td>
                            <!-- item quantity Column -->
                            <td class="py-3 w-25">
                                <form action="" method="POST" class="form update-form">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="input-group input-group-{{ item.item_id }}">
                                            <!-- minus button -->
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-sm btn-outline-red rounded-0 decrement-qty_{{ item.item_id }}" 
                                                data-item_id="{{ item.item_id }}">
                                                    <i class="fa-solid fa-minus fa-sm"></i>
                                                </button>
                                            </div>
                                            <!-- quantity value -->
                                            <input class="form-control form-control-sm qty_input id_qty_{{ item.item_id }}" type="number" 
                                                name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}"> 
                                            <!-- plus button -->
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-sm btn-outline-green rounded-0 increment-qty_{{ item.item_id }}" 
                                                data-item_id="{{ item.item_id }}">
                                                    <i class="fa-solid fa-plus fa-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <a class="delete-link" id="remove_{{ item.item_id }}">
                                    <small>Remove from Bag</small>
                                </a>
                                <a class="edit-link  float-end">
                                    <small>Update Quantity</small>
                                </a>
                                



                            </td>
                            <!-- Subtotal column -->
                            <td class="py-3">
                                <p class="my-0">£</p>
                                
                            </td>
                        </tr>
                    {% endfor %}
                    
                    <tr>
                        <td colspan="5" class="pt-5 text-right">

                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">

                        </td>
                    </tr>
                </table>
            </div>

                <!-- Empty Bag -->
            {% else %}
                <p class="lead mb-5">Your bag is currently empty. why not have a look at our latest special offers?</p>
                <a href="{% url 'products' %}" class="btn btn-outline-blue">
                    <i class="fa-solid fa-chevron-left"></i> Back to Shop
                </a>
                <a href="{% url 'products' %}?category=new_in,deals,clearance" class="btn btn-outline-blue">
                    <i class="fa-solid fa-certificate"></i> Special Offers
                </a>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
    {{ super }}
    {% include 'products/includes/quantity_input_script.html' %}
{% endblock %}
