{% extends "base.html" %} 
{% load static %}

{% block extra_title %} - Delivery Policy{% endblock %}

<!-- Extra meta tags specific to the page to be put here -->
{% block extra_meta %}
<meta name="description" content="DESCRIPTION" />
<meta name="keywords" content="KEYWORDS" />

<!-- Social media integration, for when people share your content -->
<!-- Facebook, LinkedIn, Google -->
<meta property="og:type" content="article" />
<meta property="og:title" content="TITLE OF YOUR POST OR PAGE" />
<!-- Same as what's inside <title> tag -->
<!-- The title you want displayed when your page is linked to -->
<meta property="og:description" content="DESCRIPTION OF PAGE CONTENT" />
<!-- Same as what's inside description meta tag -->
<!-- The description you want displayed when your page is linked to (maximum 300 characters) -->
<meta name="image" property="og:image" content="URL TO IMAGE" />
<!-- URL of image to be displayed when your site is linked to -->
<!-- Be careful when building non-static sites like your MS3 and MS4, this can be a little tricky -->
<meta property="og:image:alt" content="ALT TEXT FOR IMAGE" />
<!-- Alt text for above image - an accessibility win -->
<meta property="og:url" content="#" />
<!-- Your page's URL -->
<meta property="og:site_name" content="Seaside Sewing - Delivery Policy" />
<!-- Same as what's inside <title> tag -->
{% endblock %} 

{% block content %}
    <div class="row text-center px-2">
        <h3>Delivery Policy</h3>
    </div>

    <div class="row">
        <div class="col-10 offset-1">

            <p>Seaside Sewing has been created by <a href="https://github.com/kera-cudmore" target="_blank" class="text-muted">Kera Cudmore</a> as an educational project whilst completing the Level 5 Diploma in Web Application Development. As this website has been created for educational purposes, no orders will be fulfilled.</p>

            <h4 class="pt-4 pb-2">Delivery Prices</h4>

            <p>We offer a flat rate delivery price of £3.99</p>
            <p>Free Delivery is offered for all orders over £50</p>

            <h4 class="pt-4 pb-2">Delivery Times</h4>

            <p>All orders are processed within 1 to 3 business days (excluding weekends and holidays) after receiving your order confirmation email. You will receive another notification when your order has posted.</p>
            <p>Delivery times are estimates and commence from the date of postage, rather than the date of order. Delivery times are to be used as a guide only and are subject to the acceptance and approval of your order.</p>

            <h4 class="pt-4 pb-2">How do I check the status of my order?</h4>

            <p>When your order has been posted, you will receive an email notification from us which will include a tracking number you can use to check its status. Please allow 48 hours for the tracking information to become available.</p> 

            <p>If you haven’t received your order within 2 days of receiving your confirmation of postage email, please <a class="text-muted" href="mailto:seaside.sewing.eshop@gmail.com?subject=I haven't received my confirmation of postage">contact us</a>  with your name and order number, and we will look into it for you.</p>

            <p>You can also keep track of your delivery in your account profile.</p>

            <h4 class="pt-4 pb-2">Refunds, returns and exchanges</h4>

            <p>We do not accept returns or exchanges unless the item you purchased is defective.</p>

            <p>In the event that your order arrives damaged in any way, please <a class="text-muted" href="mailto:seaside.sewing.eshop@gmail.com?subject=My order has arrived damaged">email us</a> as soon as possible with your order number and a photo of the item’s condition. We address these on a case-by-case basis but will try our best to work towards a satisfactory solution.</p>

            <p>Refunds do not include any postage and handling charges shown on the packaging slip or invoice. Delivery charges for all returns must be prepaid and insured by you. You are responsible for any loss or damage to hardware during postage. We do not guarantee that we will receive your returned item. Postage and handling charges are not refundable. Any amounts refunded will not include the cost of Postagez.</p>

            <p>If you have any further questions, please don't hesitate to contact us at <a class="text-muted" href="mailto:seaside.sewing.eshop@gmail.com?subject=Further Questions">seaside.sewing.eshop@gmail.com</a></p>

        </div>
    </div>

{% endblock %}