{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Home{% endblock %}

{% block extra_meta %}
    <meta name="description" content="Seaside Sewing - an online ecommerce store selling all you need for your next sewing project from quilting and patchwork, to sewing your own clothes!">
    <meta name="keywords" content="Seaside Sewing, sewing, ecommerce, online shop, shop, sewing products, needles, thread, fabric, material, sew, hobby, patchwork, quilting">

    <!-- Social Media - Facebook, LinkedIn, Google -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Seaside Sewing - Home" />
    <meta property="og:description" content="Seaside Sewing - an online ecommerce store selling all you need for your next sewing project from quilting and patchwork, to sewing your own clothes!" />
    <meta name="image" property="og:image" content="URL TO IMAGE" /><!-- URL of image to be displayed when your site is linked to -->
    <meta property="og:image:alt" content="Seaside Sewing ecommerce store shown on a variety of devices, from mobile to desktop" />
    <meta property="og:url" content="https://seaside-sewing.herokuapp.com/" />
    <meta property="og:site_name" content="Seaside Sewing - Home" />
{% endblock %}

{% block content %}
    <div class="row page-title">
        <h3>Welcome to Seaside Sewing!</h3>
    </div>

    <div class="row text-center">
        <div class="col-10 offset-1 mb-5">
            <h4>The first port of call for all your sewing needs.</h4>
            <p>We carry a comprehensive stock of sewing products suitable for those just dipping their toes in to the more experienced sewer.</p>
            <p>Don't have what your looking for? Feel free to contact us</p>
        </div>
    </div>

    <div class="row text-center">       
        <div class="col-12 mb-5">
            <h4>Browse our Products</h4>
        </div>
        {% for c in categories %}
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="card border">
                    <a href="{% url 'products' %}?category={{ c.name }}">
                        <h5 class="card-title cat-card-title text-center mt-5">{{ c.friendly_name }}</h5>
                        <div class="card-body">
                            <img src="{{ MEDIA_URL }}catcard.webp" alt="" class="card-img-bottom img-fluid d-none d-sm-none d-md-block">
                        </div>
                    </a>
                </div>
            </div>

            <!-- set the columns depending on no of items -->
            {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-sm-none my-2">
                    <hr>
                </div>
            {% endif %}
            {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none my-2">
                    <hr>
                </div>
            {% endif %}
            {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-none d-lg-block d-xl-none my-2">
                    <hr>
                </div>
            {% endif %}
            {% if forloop.counter|divisibleby:6 %}
                <div class="col-12 d-none d-xl-block my-2">
                    <hr>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}