{% extends "base.html" %} 
{% load static %}

{% block extra_title %} - Terms & Conditions{% endblock %}

{% block extra_meta %}
    <meta name="description" content="Seaside Sewing - Terms and Conditions. Information on the terms & conditions for Seaside Sewing, an online ecommerce store selling all you need for your next sewing project from quilting and patchwork, to sewing your own clothes!">
    <meta name="keywords" content="terms and conditions, Seaside Sewing, sewing, ecommerce, online shop, shop, sewing products, needles, thread, fabric, material, sew, hobby, patchwork, quilting">

    <!-- Social Media - Facebook, LinkedIn, Google -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="Seaside Sewing - Terms & Conditions">
    <meta property="og:description" content="Seaside Sewing - Terms and Conditions. Information on the terms & conditions for Seaside Sewing, an online ecommerce store selling all you need for your next sewing project from quilting and patchwork, to sewing your own clothes!">
    <meta name="image" property="og:image" content="{% static 'images/responsive-site-image.png' %}">
    <meta property="og:image:alt" content="Seaside Sewing ecommerce store shown on a variety of devices, from mobile to desktop">
    <meta property="og:url" content="https://seaside-sewing.herokuapp.com/terms">
    <meta property="og:site_name" content="Seaside Sewing - Terms & Conditions">
{% endblock %} 

{% block content %}
    <div class="row page-title">
        <h3>Terms & Conditions</h3>
    </div>

    <div class="row">
        <div class="col-10 offset-1">
            <ul>
                <li>Seaside Sewing has been created by <a href="https://github.com/kera-cudmore" target="_blank" class="text-muted">Kera Cudmore</a> as an educational project whilst completing the Level 5 Diploma in Web Application Development. Although this website has been created for educational purposes only, no orders will be fulfilled.</li>
                <li>As we can accept your order and make a legally enforceable agreement without further reference to you, you must read these terms and conditions to make sure that they contain all that you want and nothing that you are not happy with.</li>
            </ul>

            <h4 class="pt-4 pb-2">Application</h4>
            <ul>
                <li>These terms and conditions will apply to the purchase of the goods by you (the <strong>Customer</strong> or <strong>you</strong>). We are Seaside Sewing, a company registered in England and Wales. <a class="text-muted" href="{% url 'contact' %}">(Contact us here)</a>; (the <strong>Supplier</strong> or <strong>us</strong> or <strong>we</strong>).</li>
                <li>These are the terms on which we sell all Goods to you. By ordering any of the Goods, you agree to be bound by these Terms and Conditions. You can only purchase Goods from the Website if you are eligible to enter into a contract and are at least 18 years old.</li>
            </ul>
            
            <h4 class="pt-4 pb-2">Interpretation</h4>
            <ul>
                <li><strong>Consumer</strong> means an individual acting for purposes which are wholly or mainly outside their trade, business, craft or profession;</li>
                <li><strong>Contract</strong> means the legally-binding agreement between you and us for the supply of Goods;</li>
                <li><strong>Delivery Location</strong> means the Suppliers premises or other location where the Goods are to be supplied, as set out in the Order;</li>
                <li><strong>Durable Medium</strong> means paper or email, or any other medium that allows information to be addressed personally to the recipient, enables the recipient to store the information in a way accessible for future reference for a period that is long enough for the purposes of the information, and allows the unchanged reproduction of the information stored;</li>
                <li><strong>Goods</strong> means the goods advertised on the Website that we supply to you of the number and description as set out in the Order;</li>
                <li><strong>Order</strong> means the Customer's order for the Goods from the Supplier as submitted following the step by step process set out on the Website;</li>
                <li><strong>Privacy Policy</strong> means the terms which set out how we will deal with confidential and personal information received from you via the Website;</li>
                <li><strong>Website</strong> means our website, https://seaside-sewing.herokuapp.com/, on which the Goods are advertised.</li>
            </ul>

            <h4 class="pt-4 pb-2">Goods</h4>
            <ul>
                <li>The description of the Goods is as set out in the Website, catalogues, brochures or other forms of advertisement. Any description is for illustrative purposes only and there may be small discrepancies in the size and colour of the Goods supplied.</li>
                <li>In the case of any Goods made to your special requirements, it is your responsibility to ensure that any information or specification you provide is accurate.</li>
                <li>All Goods which appear on the Website are subject to Availability.</li>
                <li>We can make changes to the Goods which are necessary to comply with any applicable law or safety requirement. We will notify you of these changes.</li>
            </ul>
                
            <h4 class="pt-4 pb-2">Personal Information</h4>
            <ul>
                <li>We retain and use all information strictly under the Privacy Policy.</li>
                <li>We may contact you by using e-mail or other electronic communication methods and by pre-paid post and you expressly agree to this.</li>
            </ul>

            <h4 class="pt-4 pb-2">Basis of Sale</h4>
            <ul>    
                <li>The description of the Goods in our website does not constitute a contractual offer to sell the Goods. When an order has been submitted on the Website, we can reject it for any reason, although we will try to tell you the reason without delay.</li>
                <li>The Order process is set out on the Website. Each step allows you to check and amend any errors before submitting the Order. It is your responsibility to check that you have used the ordering process correctly.</li>
                <li>A Contract will be formed for the sale of Goods ordered only when you receive an email from us confirming the Order (<strong>Order Confirmation</strong>). You must ensure that the Order Confirmation is complete and accurate and inform us immediately of any errors. We are not responsible for any inaccuracies in the Order placed by you. By placing an Order you agree to us giving you confirmation of the Contract by means of an email with all information in it (ie the Order Confirmation). You will receive the Order Confirmation within a reasonable time after making the Contract, but in any event not later than the delivery of any Goods supplied under the Contract.</li>
                <li>No variation of the Contract, whether about the description of the Goods, Fees or otherwise, can be made after it has been entered into unless the variation is agreed by the Customer and the Supplier in writing.</li>
                <li>We intend that these Terms and Conditions apply only to a Contract entered into by you as a Consumer. If this is not the case, you must tell us, so that we can provide you with a different contract with terms which are more appropriate for you and which might, in some respects, be better for you, eg by giving you rights as a business.</li>
            </ul>

            <h4 class="pt-4 pb-2">Price and Payment</h4>
            <ul>
                <li>The price of the Goods and any additional delivery or other charges is that set out on the Website at the date of the Order or such other price as we may agree in writing.</li>
                <li>Prices and charges include VAT at the rate applicable at the time of the Order.</li>
                <li>You must pay by submitting your credit or debit card details with your Order and we can take payment immediately or otherwise before the delivery of the Goods.</li>
            </ul>

            <h4 class="pt-4 pb-2">Delivery</h4>
            <ul>
                <li>We will deliver the Goods, to the Delivery Location by the time or within the agreed period or, failing any agreement, without undue delay and, in any event, not more than 30 days after the day on which the Contract is entered into.</li>
                <li>In any case, regardless of events beyond our control, if we do not deliver the Goods on time, you can (in addition to any other remedies) treat the Contract at an end if:</li>
            </ul>
            <ol>
                <li>we have refused to deliver the Goods, or if delivery on time is essential taking into account all the relevant circumstances at the time the Contract was made, or you said to us before the Contract was made that delivery on time was essential; or</li>
                <li>after we have failed to deliver to you on time, you have specified a later period which is appropriate to the circumstances and we have not delivered within that period.</li>
            </ol>
            <ul>
                <li>If you treat the Contract at an end, we will (in addition to other remedies) promptly return all payments made under the Contract.</li>
                <li>If you were entitled to treat the Contract at an end, but do not do so, you are not prevented from cancelling the Order for any Goods or rejecting Goods that have been delivered and, if you do this, we will (in addition to other remedies) without delay return all payments made under the Contract for any such cancelled or rejected Goods. If the Goods have been delivered, you must return them to us or allow us to collect them from you and we will pay the costs of this.</li>
                <li>If any Goods from a commercial unit (a unit is a commercial unit if division of the unit would materially impair the value of the goods or the character of the unit) you cannot cancel or reject the Order for some of those Goods without also cancelling or rejecting the Order for the rest of them.</li>
                <li>We do not generally deliver to addresses outside England and Wales, Scotland, Northern Ireland, the Isle of Man and Channel Islands. If, however, we accept an Order for delivery outside of that area, you may need to pay import duties or other taxes, as we will not pay them.</li>
                <li>You agree we may deliver the Goods in instalments if we suffer a shortage of stock or other genuine and fair reason, subject to the above provisions and provided you are not liable for extra charges.</li>
                <li>If you or your nominee fail, through no fault of ours, to take delivery of the Goods at the Delivery Location, we may charge the reasonable costs of storing and redelivering them.</li>
                <li>The Goods will become your responsibility from the completion of delivery or Customer collection. You must, if reasonably practicable, examine the Goods before accepting them.</li>
            </ul>
                
            <h4 class="pt-4 pb-2">Risk and Title</h4>
            <ul>
                <li>Risk of damage to, or loss of, any Goods will pass to you when the Goods are delivered to you.</li>
                <li>You do not own the Goods until we have received payment in full. If full payment is overdue or a step occurs towards your bankruptcy, we can choose, by notice to cancel any delivery and end any right to use the Goods still owned by you, in which case you must return them or allow us to collect them.</li>
            </ul>

            <h4 class="pt-4 pb-2">Withdrawal, returns and cancellation</h4>
            <ul>
                <li>You can withdraw the Order by telling us before the Contract is made, if you simply wish to change your mind and without giving us a reason, and without incurring any liability.</li>
                <li>This is a <strong>distance contract</strong> (as defined below) which has the cancellation rights (<strong>Cancellation Rights</strong>) set out below. These Cancellation Rights, however, do not apply, to a contract for the following goods (with no others) in the following circumstances:
                    <ul>
                        <li>goods that are made to your specifications or are clearly personalised;</li>
                        <li>goods which are liable to deteriorate or expire rapidly.</li>
                    </ul>
                </li>
                <li>Also, the Cancellation Rights for a Contract cease to be available in the following circumstances:
                    <ul>
                        <li>in the case of any sales contract, if the goods become mixed inseparably (according to their nature) with other items after delivery.</li>
                    </ul>
                </li>
            </ul>

            <h4 class="pt-4 pb-2">Right to Cancel</h4>
            <ul>
                <li>Subject as stated in these Terms and Conditions, you can cancel this contract within 14 days without giving any reason.</li>
                <li>The cancellation period will expire after 14 days from the day on which you acquire, or a third party, other than the carrier indicated by you, acquires physical possession of the last of the Goods.</li>
                <li>To exercise the right to cancel, you must inform us of your decision to cancel this Contract by a clear statement setting out your decision (eg a letter sent by post or email)</li>
                <li>To meet the cancellation deadline, it is sufficient for you to send your communication concerning your exercise of the right to cancel before the cancellation period has expired.</li>
            </ul>
                    
            <h4 class="pt-4 pb-2">Effects of cancellation in the cancellation period</h4>
            <ul>    
                <li>Except as set out below, if you cancel this Contract, we will reimburse to you all payments received from you, including the costs of delivery.</li>
            </ul>

            <h4 class="pt-4 pb-2">Deduction for Goods supplied</h4>
            <ul>
                <li>We may make a deduction from the reimbursement for loss in value of any Goods supplied, if the loss is the result of unecessary handling by you (ie handling the Goods beyond what is necessary to establish the nature, characteristics and functioning of the Goods: eg it goes beyond the sort of handling that might be reasonably allowed in a shop). This is because you re liable for that loss and, if that deduction is not made, you must pay us the amount of that loss.</li>       
            </ul>
                
            <h4 class="pt-4 pb-2">Timing of reimbursement</h4>
            <ul>
                <li>If we have not offered to collect the Goods, we will make the reimbursement without undue delay, and not later than:
                    <ul>
                        <li>14 days after the day we receive back from you any Goods supplied, or</li>
                        <li>(if earlier) 14 days after the day you provide evidence that. you have sent back the Goods.</li>
                    </ul>
                </li>
                <li>If we have offered to collect the Goods, we will make the reimbursement without undue delay, and not later than 14 days after the day on which we are informed about your decision to cancel this Contract.</li>
                <li>We will make the reimbursement using the same means of payment as you used for the initial transaction, unless you have expressly agreed otherwise; in any event, you will not incur any fees as a result of the reimbursement.</li>
            </ul>

            <h4 class="pt-4 pb-2">Returning Goods</h4>
            <ul>
                <li>If you have received Goods in connection with the Contract which you have cancelled, you must send back the Goods without delay and in any event not later than 14 days from the day on which you communicate to us your cancellation of this Contract. The deadline is met if you send back the Goods before the period of 14 days has expired. You agree that you will have to bear the cost of returning the Goods.</li>
                <li>For the purposes of these Cancellation Rights, these words have the following meanings:
                    <ul>
                        <li><strong>distance contract</strong> means a contract concluded between a trader and a consumer under an organised distance sales or service-provision scheme without the simultaneous physical presence of the trader and the consumer, with the exclusive use of one or more means of distance communication up to and including the time at which the contract is concluded;</li>
                        <li><strong>sales contract</strong> means a contract under which a trader transfers or agrees to transfer the ownership of goods to a consumer and the consumer pays or agrees to pay the price.</li>
                    </ul>
                </li>
            </ul>        
                
            <h4 class="pt-4 pb-2">Conformity</h4>
            <ul>
                <li>We have a legal duty to supply the Goods in conformity with the Contract, and will not have conformed if it does not meet the following obligation</li>
                <li>Upon delivery, the Goods will:
                    <ul>
                        <li>be of satisfactory quality;</li>
                        <li>be reasonably fit for any particular purpose for which you buy the Goods which, before the Contract is made, you made known to us (unless you do not actually rely, or it is unreasonable for you to rely, on our skill and judgment) and be fit for any purpose held out by us or set out in the Contract; and</li>
                        <li>conform to their description</li>
                    </ul>
                </li>
                <li>It is not a failure to conform if the failure has its origin in your materials.</li>
            </ul>

            <h4 class="pt-4 pb-2">Successors and out sub-contractors</h4>
            <ul>
                <li>Either party can transfer the benefit of this Contract to someone else, and will remain liable to the other for its obligations under the Contract. the Supplier will be liable for the acts of any sub-contractors who it chooses to help perform its duties.</li>
            </ul>

            <h4 class="pt-4 pb-2">Circumstances beyond the control of either party</h4>
            <ul>
                <li>in the event of any failure by a party because of something beyond its reasonable control:
                    <ul>
                        <li>the party will advise the other party as soon as reasonably practicable; and</li>
                        <li>the party's obligations will be suspended so far as is reasonable, provided that that party will act reasonably, and the party will not be liable for any failure which it could not reasonably avoid, but this will not affect the Customer's above rights relating to delivery and any right to cancel, below.</li>
                    </ul>
                </li>
            </ul>

            <h4 class="pt-4 pb-2">Privacy</h4>
            <ul>
                <li>your privacy is critical to us. We respect your privacy and comply with the General Data Protection Regulation with regard to your personal information.</li>
                <li>These Terms and Conditions should be read alongside, and are in addition to our policies, including our <a class="text-muted" href="{% url 'privacy' %}">Privacy Policy</a>.</li>
                <li>For the purposes of these Terms and Conditions:
                    <ul>
                        <li>'Data Protection Laws' means any applicable law relating to the processing of Personal Data, including, but not limited to the GDPR</li>
                        <li>'GDPR' means the UK General Data Protection Regulation</li>
                        <li>'Data Controller', 'Personal Data' and 'Processing' shall have the same meaning as in the GDPR</li>
                    </ul>
                </li>
                <li>We are a Data Controller of the Personal Data we Process in providing Goods to you.</li>
                <li>Where you supply Personal Data to us so we can provide Goods to you, and we Process that Personal Data in the course of providing the Goods to you, we will comply with our obligations imposed by the Data Protection Laws:
                    <ul>
                        <li>before or at the time of collecting Personal Data, we will identify the purposes for which information is being collected;</li>
                        <li>we will only Process Personal Data for the purposes identified;</li>
                        <li>we will respect your rights in relation to your Personal Data; and</li>
                        <li>we will implement technical and organisational measures to ensure your Personal Data is secure.</li>
                    </ul>
                </li>
                <li>For any enquiries or complaints regarding data privacy, you can <a href="{% url 'contact' %}" class="text-muted">contact us here.</a></li>
            </ul>

            <h4 class="pt-4 pb-2">Excluding liability</h4>
            <ul>
                <li>The Supplier does not exclude liability for: (i) any fraudulent act or omission; or (ii) for death or personal injury caused by negligence or breach of the Supplier's other legal obligations. Subject to this, the Supplier is not liable for (i) loss which was not reasonably foreseeable to both parties at the time when the Contract was made, or (ii) loss (eg loss of profit) to the Customer's business, trade, craft or profession which would not be suffered by a Consumer - because the Supplier believes the Customer is not buying the Goods wholly or mainly for its business, trade, craft or profession.</li>
            </ul>

            <h4 class="pt-4 pb-2">Governing law, jurisdiction and complaints</h4>
            <ul>
                <li>The Contract (including any non-contractual matters) is governed by the law of England and Wales.</li>
                <li>Disputes can be submitted to the jurisdiction of the courts of England and Wales or, where the Customer lives in Scotland or Northern Ireland, in the courts respectively Scotland or Northern Ireland.</li>
                <li>We try to avoid any dispute, so we deal with complaints in the following way:
                    <ul>
                        <li>If a dispute occurs customers should contact us to find a solution. We will aim to respond with an appropriate solution within 5 days.</li>
                    </ul>
                </li>
            </ul>

            <h4 class="pt-4 pb-2">Governing law, jurisdiction and complaints</h4>
            <ul>
                <li>These terms and conditions were created using a document from 
                    <a class="text-muted" href="www.rocketlawyer.co.uk" target="_blank">Rocket Lawyer</a>
                </li>    
            </ul>
            
            <p class="pt-4">These terms and conditions were created on<time datetime="2022-12-24">24 December 2022</time></p>
        </div>
    </div>
{% endblock %}