{% extends "base.html" %} 
{% load static %}

{% block extra_title %} - Terms & Conditions{% endblock %}

<!-- Extra meta tags specific to the page to be put here -->
{% block extra_meta %}
<meta name="description" content="DESCRIPTION" />
<meta name="keywords" content="KEYWORDS" />

<!-- Social media integration, for when people share your content -->
<!-- Facebook, LinkedIn, Google -->
<meta property="og:type" content="article" />
<meta property="og:title" content="TITLE OF YOUR POST OR PAGE" />
<!-- Same as what's inside <title> tag -->
<!-- The title you want displayed when your page is linked to -->
<meta property="og:description" content="DESCRIPTION OF PAGE CONTENT" />
<!-- Same as what's inside description meta tag -->
<!-- The description you want displayed when your page is linked to (maximum 300 characters) -->
<meta name="image" property="og:image" content="URL TO IMAGE" />
<!-- URL of image to be displayed when your site is linked to -->
<!-- Be careful when building non-static sites like your MS3 and MS4, this can be a little tricky -->
<meta property="og:image:alt" content="ALT TEXT FOR IMAGE" />
<!-- Alt text for above image - an accessibility win -->
<meta property="og:url" content="#" />
<!-- Your page's URL -->
<meta property="og:site_name" content="Seaside Sewing - Terms & Conditions" />
<!-- Same as what's inside <title> tag -->
{% endblock %} 

{% block content %}
    <div class="row text-center px-2">
        <h3>Terms & Conditions</h3>
    </div>

    <div class="row">
        <div class="col-10 offset-1">

        </div>
    </div>

{% endblock %}