{% extends "base.html" %}
{% load static %}

{% block extra_title %} - {{ user }} Profile{% endblock %}

{% block extra_meta %}
    <meta name="description" content="Seaside Sewing - Profile Page. You may only view your own profile page on Seaside Sewing, an online ecommerce store selling all you need for your next sewing project from quilting and patchwork, to sewing your own clothes!">
    <meta name="keywords" content="Profile page, profile, Seaside Sewing, sewing, ecommerce, online shop, shop, sewing products, needles, thread, fabric, material, sew, hobby, patchwork, quilting">

    <!-- Social Media - Facebook, LinkedIn, Google -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="Seaside Sewing - Profile">
    <meta property="og:description" content="Seaside Sewing - Profile Page. You may only view your own profile page on Seaside Sewing, an online ecommerce store selling all you need for your next sewing project from quilting and patchwork, to sewing your own clothes!">
    <meta name="image" property="og:image" content="{% static 'images/responsive-site-image.png' %}">
    <meta property="og:image:alt" content="Seaside Sewing ecommerce store shown on a variety of devices, from mobile to desktop">
    <meta property="og:url" content="https://seaside-sewing.herokuapp.com/">
    <meta property="og:site_name" content="Seaside Sewing - Profile">
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="row page-title">
        <h3>My Profile</h3>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <p class="text-muted">Default Delivery Information</p>
            <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-outline-blue float-right">
                    <span class="mr-2"><i class="fa-solid fa-user-pen"></i></span>
                    <span>Update Information</span> 
                </button>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            <p class="text-muted">Order History</p>
            <div class="order-history table-responsive">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>
                                    <a href="{% url 'order_history' order.order_number %}"
                                    title="{{ order.order_number }}">
                                        {{ order.order_number|truncatechars:6 }}
                                    </a>
                                </td>
                                <td>{{ order.date }}</td>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for item in order.lineitems.all %}
                                            <li class="small">
                                                {{ item.product.name }} x{{ item.quantity }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>£{{ order.grand_total }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}