{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Checkout Success!{% endblock %}

{% block extra_meta %}
    <meta name="description" content="DESCRIPTION">
    <meta name="keywords" content="KEYWORDS">

    <!-- Social media integration, for when people share your content -->
    <!-- Facebook, LinkedIn, Google -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Seaside Sewing - Checkout Success!" />
    <!-- The title you want displayed when your page is linked to -->
    <meta property="og:description" content="DESCRIPTION OF PAGE CONTENT" /> <!-- Same as what's inside description meta tag -->
    <!-- The description you want displayed when your page is linked to (maximum 300 characters) -->
    <meta name="image" property="og:image" content="URL TO IMAGE" />
    <!-- URL of image to be displayed when your site is linked to -->
    <!-- Be careful when building non-static sites like your MS3 and MS4, this can be a little tricky -->
    <meta property="og:image:alt" content="ALT TEXT FOR IMAGE" /> <!-- Alt text for above image - an accessibility win -->
    <meta property="og:url" content="#" /> <!-- Your page's URL -->
    <meta property="og:site_name" content="Seaside Sewing - Checkout Success!" />
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}

    <div class="row page-title">
        <h3>Checkout Success!</h3>
    </div>
    <div class="text-center">
        <h4 class="mb-4">Thank You</h2>
        <hr>
        <p>Find a summary of your order below. A confirmation email has also been sent to <strong>{{ order.email }}</strong>.</p>
    </div>

    <!-- Order Summary -->
    <div class="row">
        <div class="col-12 col-lg-7">
        </div>
    </div>

    <!-- Button to redirect customer to latest deals product page -->
    <div class="row">
        <div class="col-12 col-lg-7">
                <a href="#" class="btn btn-outline-red my-2">
                    <span class="mr-2">
                        <i class="fa-solid fa-chevron-left"></i>
                    </span>
                    <span>Back to Profile</span>
                </a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="btn btn-outline-blue my-2">
                    <span class="icon mr-2">
                        <i class="fa-solid fa-shop"></i>
                    </span>
                    <span>View our latest deals!</span>
                </a>
        </div>
    </div>

{% endblock %}