/*----- GOOGLE FONTS IMPORT -----*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Overpass:wght@200;300;400;900&display=swap');


/*----- ROOT VARIABLES -----*/

:root {
    /*----- Typography -----*/
    --header-text: 'Dancing Script', cursive;
    --content-text: 'Overpass', sans-serif;
    
    /*----- Colours -----*/
    --white: #ffffff;
    --black: #000000;
    --grey: #E3E0Df;
    --light-blue: #95DDED;
    --medium-blue: #38A3DC;
    --dark-blue: #2072B4;
    --green: #456f34;
    --red: #A82114;
}


/* look into how to get the svg to be full width and scalable for devices */
/* svg {
    width: 100vw;
    height: auto;
    object-fit: contain;
} */

/*----- Headings & Text -----*/

h1, h3 {
    font-family: var(--header-text);
    text-align: center;
}

h2, h4, h5, h6, p, a, input {
    font-family: var(--content-text);
}

h1 {
    color: var(--white);
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 3rem;
    padding-bottom: 3rem;
}

h4 {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: var(--black);
}

.page-title {
    display: flex;
    justify-content: center;
}

.edit-link  {
    color: var(--green);
}

.edit-link:hover  {
    color: var(--green);
    font-weight: 900;
}

.delete-link    {
    color: var(--red);
}

.delete-link:hover    {
    color: var(--red);
    font-weight: 900;
}

/*----- Header -----*/

.site-name {
    background-color: var(--medium-blue);
    display: flex;
    justify-content: center;
}
.account-nav {
    background-color: var(--medium-blue);
    color: var(--white);
}

.delivery-banner {
    background-color: var(--red);
    color: var(--white);
}

.categories-nav {
    background-color: var(--medium-blue);
    padding-bottom: 1rem;
}

.nav-link,
.navbar-toggler-icon {
    color: var(--white);
}


/*----- Footer -----*/

.footer-container {
    background-color: var(--light-blue);
    padding-top: 3rem;
}

.educational-purposes {
    padding: 3rem 3rem 0 3rem;
    display: flex;
    justify-content: center;
    text-align: center;
}


/*----- Toasts -----*/

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 5px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colours copied from bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/*----- Main Page -----*/

.content-container {
    padding:5rem 0;
}

hr {
    border-top: 3px dashed var(--grey);
}

/*----- Buttons -----*/

.btn-outline-blue {
    background: var(--white);
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
}

.btn-outline-blue:hover,
.btn-outline-blue:active,
.btn-outline-blue:focus {
    background-color: var(--dark-blue);
    color: var(--white);
}

.btn-outline-red {
    background: var(--white);
    color: var(--red);
    border: 1px solid var(--red);
}

.btn-outline-red:hover,
.btn-outline-red:active,
.btn-outline-red:focus {
    background-color: var(--red);
    color: var(--white);
}

.btn-outline-green {
    background: var(--white);
    color: var(--green);
    border: 1px solid var(--green);
}

.btn-outline-green:hover,
.btn-outline-green:active,
.btn-outline-green:focus {
    background-color: var(--green);
    color: var(--white);
}

.back-to-top-btn {
    position: fixed;
    height: 45px;
    width: 45px;
    bottom: 25px;
    right: 25px;
}


/*-----  CURSOR -----*/

.back-to-top,
.update-item,
.remove-item {
    cursor: pointer;
}


/*----- MEDIA QUERIES -----*/

/* Tablets */
@media only screen and (min-width : 481px) {
    h1{
        font-size: 5rem;
    }

    h3 {
        font-size: 4rem;
    }

    h4 {
        font-size: 2rem;
    }
    
    svg {
        width: 100vw;
        height: auto;
        object-fit: contain;
    }
}

/* Laptop */
@media only screen and (min-width : 769px) {
    h1 {
        font-size: 9rem;
    }

    h3 {
        font-size: 7rem;
    }
}