/*----- GOOGLE FONTS IMPORT -----*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Overpass:wght@200;300;400;900&display=swap');

/*----- ROOT VARIABLES -----*/
:root {
    /*----- Typography -----*/
    --header-text: 'Dancing Script', cursive;
    --content-text: 'Overpass', sans-serif;
    
    /*----- Colours -----*/
    --white: #ffffff;
    --black: #000000;
    --grey: #aab7c4;
    --light-blue: #95DDED;
    /* --medium-blue: #38A3DC; */
    /* --dark-blue: #2072B4; */
    --dark-blue: #175587;
    --green: #456f34;
    --red: #A82114;
}

* {
    margin: 0;
    padding: 0;
    }

/*----- Headings & Text -----*/
h1, h3 {
    font-family: var(--header-text);
    text-align: center;
}

h2, h4, h5, h6, p, a, input {
    font-family: var(--content-text);
}

h1 {
    color: var(--white);
    font-size: 3rem;
}

h2 {
    font-size: 1rem;
}

h3 {
    font-size: 2.25rem;
    padding-bottom: 3rem;
}

h4 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

a {
    text-decoration: none;
    color: var(--black);
}

.page-title {
    display: flex;
    justify-content: center;
}

.edit-link  {
    color: var(--green);
    display: inline-block;
}

.edit-link:hover  {
    color: var(--green);
    text-decoration: underline;
    transform: translateY(-10px);}

.delete-link    {
    color: var(--red);
    border-width: 0;
    background-color: var(--white);
}

.delete-link:hover    {
    color: var(--red);
    text-decoration: underline;
    transform: translateY(-10px);
}

.text-danger {
    color: var(--red) !important;
}

/*----- Header -----*/
.site-name {
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
}
.account-nav {
    background-color: var(--dark-blue);
    color: var(--white);
}

.delivery-banner {
    background-color: var(--red);
    color: var(--white);
}

.categories-nav {
    background-color: var(--dark-blue);
    padding-bottom: 1rem;
}

.nav-link,
.navbar-toggler-icon {
    color: var(--white);
}

.nav-link:hover {
    color: var(--white);
    transform: translateY(-10px);
}

/*----- Footer -----*/
.footer-container {
    background-color: var(--light-blue);
}

/*----- Toasts -----*/
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 5px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid var(--black);
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colours copied from bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*----- Main Page -----*/
.content-container {
    padding:5rem 3rem;
}

hr {
    border-top: 3px dashed var(--grey);
}

.cat-card-title {
    font-size: 1.55rem;
    color: var(--dark-blue);
    font-weight: 700;
}

/*----- Buttons & Inputs -----*/
.btn-outline-blue {
    background: var(--white);
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
}

.btn-outline-blue:hover,
.btn-outline-blue:active,
.btn-outline-blue:focus {
    background-color: var(--dark-blue);
    color: var(--white);
}

.btn-outline-red {
    background: var(--white);
    color: var(--red);
    border: 1px solid var(--red);
}

.btn-outline-red:hover,
.btn-outline-red:active,
.btn-outline-red:focus {
    background-color: var(--red);
    color: var(--white);
}

.btn-outline-green {
    background: var(--white);
    color: var(--green);
    border: 1px solid var(--green);
}

.btn-outline-green:hover,
.btn-outline-green:active,
.btn-outline-green:focus {
    background-color: var(--green);
    color: var(--white);
}

.btn-red {
    background: var(--red);
    color: var(--white);
    border: 1px solid var(--white);
}

.btn-red:hover,
.btn-red:focus {
    background-color: var(--white);
    color: var(--red);
    box-shadow: 0 0 0 0.2rem #a820147c;

}

.btn-green {
    background: var(--green);
    color: var(--white);
    border: 1px solid var(--white);
}

.btn-green:hover {
    background-color: var(--white);
    color: var(--green);
    box-shadow: 0 0 0 0.2rem #456f347a;
}

.back-to-top-btn {
    position: fixed;
    height: 45px;
    width: 45px;
    bottom: 25px;
    right: 25px;
}

input[name='q']::placeholder {
    color: var(--grey);
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: var(--red);
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: var(--red);
    border-color: var(--red);
    border-radius: 0;
}

/*-----  CURSOR -----*/
.back-to-top,
.update-item,
.remove-item {
    cursor: pointer;
}

/*----- MAGNIFYING LENS -----*/
/* source: https://thdoan.github.io/magnify/ */
.magnify > .magnify-lens {
    width: 300px;
    height: 300px;
}

/*----- ALLAUTH FORMS -----*/
/* Allauth form formatting */
.allauth-form-inner-content input {
    border-color: var(--black);
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: var(--grey);
}

.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: var(--dark-blue);
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--white);
    border: 1px solid var(--dark-blue);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    
    /* Standard Bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input [type='submit']:hover {
    color: var(--white);
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
}

/*----- MEDIA QUERIES -----*/
/* Tablets */
@media only screen and (min-width : 481px) {
    h1{
        font-size: 5rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 4rem;
    }
    h4 {
        font-size: 2rem;
    }
}

/* Laptop */
@media only screen and (min-width : 769px) {
    h1 {
        font-size: 9rem;
    }
    h3 {
        font-size: 7rem;
    }
}