/*----- GOOGLE FONTS IMPORT -----*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Overpass:wght@200;300;400;900&display=swap');


/*----- ROOT VARIABLES -----*/

:root {
    /*----- Typography -----*/
    --header-text: 'Dancing Script', cursive;
    --content-text: 'Overpass', sans-serif;
    
    /*----- Colours -----*/
    --white: #ffffff;
    --black: #000000;
    --grey: #E3E0Df;
    --light-blue: #95DDED;
    --medium-blue: #38A3DC;
    --dark-blue: #2072B4;
    --green: #819938;
    --red: #A82114;
}


/* look into how to get the svg to be full width and scalable for devices */
/* svg {
    width: 100vw;
    height: auto;
    object-fit: contain;
} */

/*----- Headings & Text -----*/

h1, h2 {
    font-family: var(--header-text);
    padding-bottom: 2rem;
}

h3, h4, h5, h6, p, a, input {
    font-family: var(--content-text);
}

h1 {
    color: var(--white);
    text-align: center;
    font-size: 3rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

/*----- Header -----*/

.site-name {
    background-color: var(--medium-blue) !important;
    padding-bottom: 2rem;
}
.account-nav {
    background-color: var(--medium-blue) !important;
    color: var(--white);
}

.delivery-banner {
    background-color: var(--red);
    color: var(--white);
}

.categories-nav {
    background-color: var(--medium-blue) !important;
    padding-bottom: 1rem;
}

.nav-link {
    color: var(--white) !important;
}

/*----- Footer -----*/

.footer-container {
    background-color: var(--light-blue);
    padding-top: 3rem;
}

.educational-purposes {
    padding-top: 3rem;
}

/*----- -----*/

.content-container {
    padding:5rem 0;
}


/*----- MEDIA QUERIES -----*/

/* Tablets */
@media only screen and (min-width : 481px) {
    h1{
        font-size: 5rem;
    }

    h2 {
        font-size: 4rem;
    }
    
    svg {
        width: 100vw;
        height: auto;
        object-fit: contain;
    }
}

/* Laptop */
@media only screen and (min-width : 769px) {
    h1 {
        font-size: 9rem;
    }

    h2 {
        font-size: 7rem;
    }
}