<div class="row justify-content-end">
    <div class="col-sm-6">
        <!-- search bar -->
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search" aria-label="search" aria-describedby="search-button">
            <button class="btn" type="button" id="search-button">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </div>

    <div class="col-sm-2 col-md-1">
        <i class="fa-regular fa-user"></i>
        My Account
    </div>

    <div class="col-sm-2 col-md-1">
        <i class="fa-solid fa-heart"></i>
        My Wishlist
    </div>

    <div class="col-sm-2 col-md-1">
        <i class="fa-solid fa-basket-shopping"></i>
        My Bag
    </div>

</div>