<nav class="row navbar account-nav px-5">

    <div class="col-12 col-lg-9  my-auto py-1 py-lg-0">
        <!-- search bar -->
        <form class="d-flex" role="search" action="{% url 'products' %}" method="GET">
            <div class="input-group mb-3">
                <input type="search" class="form-control" name="q" placeholder="Search" aria-label="Search" aria-describedby="search-button">
                <button class="btn btn-outline-blue" type="submit" id="search-button">
                    <span><i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                </button>
            </div>
        </form>
    </div>

    <div class=" col-4 col-lg-2 d-flex">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-regular fa-user"></i>
                    <p>Account</p>
                </a>
                <ul class="dropdown-menu">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <li><a class="dropdown-item" href="#">Product Management</a></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="#">My Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                    {% else %}
                        <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
                        <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>


    <div class="col-4 col-lg-2 d-flex">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <!-- view wishlist for href -->
                <a class="nav-link dropdown-toggle text-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-regular fa-heart"></i>
                <p>Wishlist</p>
                </a>
            </li>
        </ul>
        

    <div class="col-4 col-lg-2 d-flex">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <!-- view bag for href -->
                <a class="nav-link dropdown-toggle text-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-basket-shopping"></i>
            <p>Bag</p>
                </a>
            </li>
        </ul>


</nav>