<div class="row categories-nav px-5">
    <div class="col d-flex justify-content-lg-center">
        <nav class="navbar navbar-expand-lg">
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">    
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        All Products
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">By Price</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=desc">By Rating</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=asc">By Category</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}">View All Products</a></li>
                        </ul>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Fabrics
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=by_the_metre">By the Meter</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=pre_cuts">Pre-Cuts</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=by_the_metre,pre_cuts">View All Fabrics</a></li>
                        </ul>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Tools
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=scissors">Scissors</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=rotary_cutters">Rotary Cutters</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=cutting_mats">Cutting Mats</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=needles">Needles</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=fabric_markers">Fabric Markers</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=pins">Pins</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=scissors,rotary_cutters,cutting_mats,needles.fabric_markers,pins">View All Tools</a></li>
                        </ul>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Habedashery
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=threads">Threads</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=bias_binding">Bias Binding</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=buttons">Buttons</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=ribbons">Ribbons</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=zips">Zips</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=threads,bias_binding,buttons,ribbons,zips">View All Habedashery</a></li>
                        </ul>
                    </li>
                
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Patterns
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Books</a></li>
                            <li><a class="dropdown-item" href="#">Paper Patterns</a></li>
                            <li><a class="dropdown-item" href="#">View All Patterns</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Special Offers
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">New In</a></li>
                            <li><a class="dropdown-item" href="#">Deals</a></li>
                            <li><a class="dropdown-item" href="#">Clearance</a></li>
                            <li><a class="dropdown-item" href="#">View All Specials</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>   
    </div>     
</div>
