<div class="row">
    <nav class="navbar navbar-expand-lg categories-nav">
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        All Products
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">By Price</a></li>
                            <li><a class="dropdown-item" href="#">By Rating</a></li>
                            <li><a class="dropdown-item" href="#">By Category</a></li>
                            <li><a class="dropdown-item" href="#">View All Products</a></li>
                        </ul>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Fabrics
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">By the Meter</a></li>
                            <li><a class="dropdown-item" href="#">Pre-Cuts</a></li>
                            <li><a class="dropdown-item" href="#">View All Fabrics</a></li>
                        </ul>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Tools
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Scissors</a></li>
                            <li><a class="dropdown-item" href="#">Rotary Cutters</a></li>
                            <li><a class="dropdown-item" href="#">Cutting Mats</a></li>
                            <li><a class="dropdown-item" href="#">Needles</a></li>
                            <li><a class="dropdown-item" href="#">Fabric Markers</a></li>
                            <li><a class="dropdown-item" href="#">Pins</a></li>
                            <li><a class="dropdown-item" href="#">View All Tools</a></li>
                        </ul>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Habedashery
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Threads</a></li>
                            <li><a class="dropdown-item" href="#">Bias Binding</a></li>
                            <li><a class="dropdown-item" href="#">Buttons</a></li>
                            <li><a class="dropdown-item" href="#">Ribbons</a></li>
                            <li><a class="dropdown-item" href="#">Zips</a></li>
                            <li><a class="dropdown-item" href="#">View All Habedashery</a></li>
                        </ul>
                    </li>
                
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Patterns
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Books</a></li>
                            <li><a class="dropdown-item" href="#">Paper Patterns</a></li>
                            <li><a class="dropdown-item" href="#">View All Patterns</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Special Offers
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">New In</a></li>
                            <li><a class="dropdown-item" href="#">Deals</a></li>
                            <li><a class="dropdown-item" href="#">Clearance</a></li>
                            <li><a class="dropdown-item" href="#">View All Specials</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>        
</div>
