<div class="row footer-content text-center">
    <div class="col-sm-4 pb-5">
        <h3 class="pb-3">About</h3>

        <p><a href="#">Privacy Policy</a></p>
        <p><a href="#">Terms & Conditions</a></p>
        <p><a href="#">Delivery Policy</a></p>
    </div>
    
    <div class="col-sm-4 pb-5">
        <h3 class="pb-3">Contact</h3>
        
        <a href = "mailto:seaside.sewing.eshop@gmail.com?subject=Website Enquiry">Email us</a>
        
        <address>
            <p>123 Here St</p>
            <p>There Town</p>
            <p>Anywhere</p>
            <p>P0ST C0D3</p>
        </address>

        <p>Tel: 12345</p>

        
        
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-square-pinterest"></i>


    </div>
    
    <div class="col-sm-4 pb-5">
        <h3 class="pb-3">Payments</h3>
        

        <p>Payments facilitated by <i class="fa-brands fa-stripe"></i></p>

        <p>Cards Accepted:</p>

        <i class="fa-brands fa-cc-visa"></i>
        <i class="fa-brands fa-cc-mastercard"></i>
        <i class="fa-brands fa-cc-amex"></i>
        <i class="fa-brands fa-cc-discover"></i>
        <i class="fa-brands fa-cc-diners-club"></i>
    </div>

    
</div>

<div class="row educational-purposes text-center">
        <p class="text-muted">Seaside Sewing has been created by <a href="https://github.com/kera-cudmore">Kera Cudmore</a> as a portfolio project for the Code Institutes Level 5 Diploma in Web Application Development.</p>
        <p class="text-muted">As such, no orders received will be honoured, as this site is purely for educational purposes.</p>
    </div>