<div class="row footer-content text-center">
    <div class="col-sm-4 pb-5">
        <h4 class="pb-3">About</h4>

        <p><a href="{% url 'privacy' %}"><i class="fa-solid fa-shield fa-lg"></i> Privacy Policy</a></p>
        <p><a href="{% url 'terms' %}"><i class="fa-solid fa-file fa-lg"></i> Terms & Conditions</a></p>
        <p><a href="{% url 'delivery' %}"><i class="fa-solid fa-truck fa-lg"></i> Delivery Policy</a></p>
    </div>
    
    <div class="col-sm-4 pb-5">
        <h4 class="pb-3">Contact</h4>
        
        <a href = "mailto:seaside.sewing.eshop@gmail.com?subject=Website Enquiry">Email us</a>
        
        <address>
            <p>123 Here St<br>
            There Town<br>
            Anywhere<br>
            P0ST C0D3</p>
        </address>

        <p>Tel: 12345</p>

        
        
        <i class="fa-brands fa-square-facebook fa-2x"></i>
        <i class="fa-brands fa-instagram fa-2x"></i>
        <i class="fa-brands fa-youtube fa-2x"></i>
        <i class="fa-brands fa-square-pinterest fa-2x"></i>


    </div>
    
    <div class="col-sm-4 pb-5">
        <h4 class="pb-3">Payments</h4>
        

        <p>Payments facilitated by <br><i class="fa-brands fa-stripe fa-3x"></i></p>

        <p>Cards Accepted:</p>

        <i class="fa-brands fa-cc-visa fa-2x"></i>
        <i class="fa-brands fa-cc-mastercard fa-2x"></i>
        <i class="fa-brands fa-cc-amex fa-2x"></i>
        <i class="fa-brands fa-cc-discover fa-2x"></i>
        <i class="fa-brands fa-cc-diners-club fa-2x"></i>
    </div>
</div>

<div class="row educational-purposes">
    <p>Seaside Sewing has been created by <a href="https://github.com/kera-cudmore">Kera Cudmore</a> as a portfolio project for the Code Institutes Level 5 Diploma in Web Application Development.
    <br>
    As this site has been created for educational purposes, no orders received will be fulfilled.</p>
</div>
