{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner-content %}

    <div class="row page-title">
        <h3>{% trans "Password Reset" %}</h3>
    </div>

        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-outline-blue" type="submit" value="{% trans 'Reset My Password' %}" />
        </form>

    <p class="pt-4">{% blocktrans %}Please <a href="mailto:seaside.sewing.eshop@gmail.com?subject=Problem Resetting Password">contact us</a> if you have any trouble resetting your password.{% endblocktrans %}</p>

{% endblock %}
