{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block inner-content %}
    <div class="row page-title">
        <h3>{% trans "Verify Your E-mail Address" %}</h3>
    </div>

    <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please <a href="mailto:seaside.sewing.eshop@gmail.com?subject=I haven't received my sign up verification email">contact us</a> if you do not receive it within a few minutes.{% endblocktrans %}</p>
{% endblock %}
