{% extends "base.html" %} 
{% load static %}

{% block extra_title %} - 400 Error{% endblock %}

{% block content %}
    <div class="row page-title">
        <h3>400 Error</h3>
    </div>

    <div class="row">
        <div class="col-10 offset-1 text-center">
            <h4>Ahoy me hearties!</h4>
            <p>We're sorry but it seems your treasure map may not be accurate which has caused you to make a bad request!</p>
            <p>Please use the navigation menu above to try again.</p>
        </div>
    </div>
{% endblock %}