{% extends "base.html" %} 
{% load static %}

{% block extra_title %} - 404 Error{% endblock %}

{% block content %}
    <div class="row page-title">
        <h3>404 Error</h3>
    </div>

    <div class="row">
        <div class="col-10 offset-1 text-center">
            <h4>Ahoy me hearties!</h4>
            <p>We're sorry that the page you're looking for seems to be lost at sea!</p>
            <p>This page may have been moved, or may no longer exist. Please use the navigation menu above to try again.</p>
        </div>
    </div>
{% endblock %}