/* Stripe styling */
.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: var(--white);
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: var(--grey);
}

.fieldset-label {
    position: relative;
    right: 0.5rem;
}

#payment-form .form-control,
#card-element {
    color: var(--black);
    border: 1px solid var(--black);
}

/* Select dropdowns - show grey if invalid or when default option
show as black when option selected */
select,
select option {
    color: var(--black);
}

select:invalid,
selection option[value=""] {
    color: var(--grey) !important;
}

/* PAYMENT PROCESSING OVERLAY & SPINNER */
#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #95dded85;
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

.fa-pulse {
    font-size: 10rem;
    color: var(--dark-blue);
}