{% extends "base.html" %} 
{% load static %}

{% block extra_title %} - Contact Us Success!{% endblock %}

{% block extra_meta %}
        <meta name="description" content="Seaside Sewing - Contact Us. Seaside Sewing, an online ecommerce store selling all you need for your next sewing project from quilting and patchwork, to sewing your own clothes!">
        <meta name="keywords" content="Contact us, Seaside Sewing, sewing, ecommerce, online shop, shop, sewing products, needles, thread, fabric, material, sew, hobby, patchwork, quilting">
    
        <!-- Social media - Facebook, LinkedIn, Google -->
        <meta property="og:type" content="article">
        <meta property="og:title" content="Seaside Sewing - Contact Us Success!">
        <meta property="og:description" content="Seaside Sewing - Contact Us. Seaside Sewing, an online ecommerce store selling all you need for your next sewing project from quilting and patchwork, to sewing your own clothes!">
        <meta name="image" property="og:image" content="{% static 'images/responsive-site-image.png' %}">
        <meta property="og:image:alt" content="Seaside Sewing ecommerce store shown on a variety of devices, from mobile to desktop">
        <meta property="og:url" content="https://web-production-e39f.up.railway.app/">
        <meta property="og:site_name" content="Seaside Sewing - Contact Us Success!">
{% endblock %}

{% block content %}
    <div class="row page-title">
        <h3>Contact Us</h3>
    </div>

    <div class="row">
        <div class="col-10 offset-1 text-center">
            <h4>Thank you for sending us your enquiry!</h4>
            <p>We plan to reply to messages within 2 business days.</p>

            <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="btn btn-outline-blue my-2">
                <span class="icon mr-2">
                    <i class="fa-solid fa-shop"></i>
                </span>
                <span>View our latest deals!</span>
            </a>

        </div>
    </div>
{% endblock %}