{% extends "base.html" %}
    {% load static %}
    
    {% block extra_title %} - Contact Us{% endblock %}

    {% block extra_meta %}
        <meta name="description" content="Seaside Sewing - Contact Us. Seaside Sewing, an online ecommerce store selling all you need for your next sewing project from quilting and patchwork, to sewing your own clothes!">
        <meta name="keywords" content="Contact us, Seaside Sewing, sewing, ecommerce, online shop, shop, sewing products, needles, thread, fabric, material, sew, hobby, patchwork, quilting">
    
        <!-- Social media - Facebook, LinkedIn, Google -->
        <meta property="og:type" content="article">
        <meta property="og:title" content="Seaside Sewing - Contact Us">
        <meta property="og:description" content="Seaside Sewing - Contact Us. Seaside Sewing, an online ecommerce store selling all you need for your next sewing project from quilting and patchwork, to sewing your own clothes!">
        <meta name="image" property="og:image" content="{% static 'images/responsive-site-image.png' %}">
        <meta property="og:image:alt" content="Seaside Sewing ecommerce store shown on a variety of devices, from mobile to desktop">
        <meta property="og:url" content="https://seaside-sewing.herokuapp.com/contact">
        <meta property="og:site_name" content="Seaside Sewing - Contact Us">
    {% endblock %}

    {% block content %}
        <div class="row page-title">
            <h3>Contact Us</h3>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <p class="text-muted text-center">Please fill out the contact form below to get in touch with us.</p>
                <form action="{% url 'contact' %}" method="POST" id="contact-form" class="pt-5">
                    {% csrf_token %}
                    {{ form|crispy }}

                    <!-- SUBMIT & BACK BUTTONS -->
                    <div class="submit-button text-right mt-5 mb-2">
                        <a href="{% url 'products' %}" class="btn btn-outline-red my-2">
                            <span class="mr-2"><i class="fa-solid fa-chevron-left"></i></span>
                            <span>Back to Shop</span>
                        </a>
                        <button class="btn btn-outline-blue my-2" id="submit-button">
                            <span class="mr-2"><i class="fa-regular fa-paper-plane"></i></span>
                            <span>Send Contact Form</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}