{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Product Management - Edit Product{% endblock %}

{% block extra_meta %}
    <meta name="description" content="Seaside Sewing - Edit Product. For Administrators only to edit products on the site. Seaside Sewing, an online ecommerce store selling all you need for your next sewing project from quilting and patchwork, to sewing your own clothes!">
    <meta name="keywords" content="Seaside Sewing, sewing, ecommerce, online shop, shop, sewing products, needles, thread, fabric, material, sew, hobby, patchwork, quilting">

    <!-- Social Media - Facebook, LinkedIn, Google -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="Seaside Sewing - Product Management - Edit Product">
    <meta property="og:description" content="Seaside Sewing - Edit Product. For Administrators only to edit products on the site. Seaside Sewing, an online ecommerce store selling all you need for your next sewing project from quilting and patchwork, to sewing your own clothes!">
    <meta name="image" property="og:image" content="{% static 'images/responsive-site-image.png' %}">
    <meta property="og:image:alt" content="Seaside Sewing ecommerce store shown on a variety of devices, from mobile to desktop">
    <meta property="og:url" content="https://web-production-e39f.up.railway.app/">
    <meta property="og:site_name" content="Seaside Sewing - Product Management - Edit Product">
{% endblock %}

{% block content %}
    <div class="row page-title">
        <h3>Product Management</h3>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <h4 class="text-center">Edit Product</h4>
            <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <div class="text-right">
                    <a class="btn btn-outline-red my-2" href="{% url 'products' %}">
                        <span class="mr-2"><i class="fa-solid fa-xmark"></i></span>    
                        <span>Cancel</span>
                    </a>
                    <button class="btn btn-outline-blue ml-2" type="submit">
                        <span class="mr-2"><i class="fa-regular fa-pen-to-square"></i></span>
                        <span>Update Product</span>
                    </button>
                </div>
            </form>
        </div>            
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super}}
    <script>
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}