{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Products{% endblock %}

{% block extra_meta %}
    <meta name="description" content="Seaside Sewing - Products. Peruse the products available on Seaside Sewing, an online ecommerce store selling all you need for your next sewing project from quilting and patchwork, to sewing your own clothes!">
    <meta name="keywords" content="KEYWORDS">

    <!-- Social Media - Facebook, LinkedIn, Google -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="Seaside Sewing - Products">
    <meta property="og:description" content="Seaside Sewing - Products. Peruse the products available on Seaside Sewing, an online ecommerce store selling all you need for your next sewing project from quilting and patchwork, to sewing your own clothes!">
    <meta name="image" property="og:image" content="{% static 'images/responsive-site-image.png' %}">
    <meta property="og:image:alt" content="Seaside Sewing ecommerce store shown on a variety of devices, from mobile to desktop">
    <meta property="og:url" content="https://seaside-sewing.herokuapp.com/products/">
    <meta property="og:site_name" content="Seaside Sewing - Products">
{% endblock %}

{% block content %}
    <div class="row page-title">
        <h3>Products</h3>
    </div>
        <div class="col-12 pb-5 text-center">
            {% for c in current_categories %}
                <a href="{% url 'products' %}?category={{ c.name }}" class="text-muted mr-2">{{ c.friendly_name }}</a>
            {% endfor %}
        </div>

    <!-- sorting dropdown -->
    <div class="row pb-5">
        <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
            <div class="sort-select-wrapper">
                <select id="sort-selector" class="custom-select custom-select-sm border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                    <option value="price_asc" {%if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                    <option value="price_desc" {%if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                    <option value="rating_asc" {%if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                    <option value="rating_desc" {%if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                    <option value="name_asc" {%if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                    <option value="name_desc" {%if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                    <option value="category_asc" {%if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                    <option value="category_desc" {%if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z to A)</option>
                </select>
            </div>
        </div>

        <!-- No of products in category -->
        <div class="col-12 col-md-6 order-md-start">
            <p class="text-muted mt-3 text-center text-md-left">
                {% if search_term or current_categories or current_sorting != 'None_None' %}
                    <span class="small"><a href="{% url 'products' %}">View All Products</a> | </span>
                {% endif %}
                {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
            </p>
        </div>
    </div>

    <!-- Products Cards -->
    <div class="row">
        {% for product in products %}
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="card h-100 border-0">
                    {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top card-img">
                        </a>
                    {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img src="{{ MEDIA_URL }}noimage.webp" alt="{{ product.name }}" class="card-img-top card-img">
                        </a>
                    {% endif %}
                    <div class="card-body pb-0">
                        <p class="mb-2">{{ product.name }}</p>
                    </div>
                    <div class="card-footer bg-white pt-0 border-0 text-left">
                        <div class="row">
                            <div class="col">
                                <p class="lead text-left mb-1">£{{ product.price }}</p>
                                <div class="my-2">
                                    <!-- Product Category -->
                                    {% if product.category %}
                                    <span class="small">
                                        <a href="{% url 'products' %}?category={{ product.category.name }}" class="text-muted">
                                            <i class="fas fa-tag mr-2"></i>{{ product.category.friendly_name }}
                                        </a>
                                    </span>
                                    {% endif %}    
                                    <!-- Product Colour -->          
                                    {% if product.colour %}
                                        <span class="small text-muted ml-3">
                                            <i class="fa-solid fa-droplet mr-2"></i>{{ product.colour }}
                                        </span>
                                    {% endif %}
                                    </div>
                                    <div class="my-2">
                                    <!-- Product Stock -->
                                    <span class="small text-muted">
                                        <i class="fa-solid fa-boxes-stacked mr-2"></i>
                                        {% if product.stock == 0 %}
                                            <span class="text-danger">Out of Stock</span>
                                        {% else %}
                                            <span data-stock="{{ product.stock }}">{{ product.stock }}</span>
                                        {% endif %}
                                    </span>
                                    <!-- Product Rating -->
                                    {% if product.rating %}
                                        <span class="small text-muted ml-3">
                                            <i class="fa-solid fa-star mr-2"></i>{{ product.rating }}
                                        </span>
                                    {% endif %}
                                </div>

                                <!-- Admin edit and delete buttons -->
                                {% if request.user.is_superuser %}
                                    <div class="float-right">
                                        <a href="{% url 'edit_product' product.id %}" class="edit-link">Edit</a>
                                        <button data-toggle="modal" data-target="#deleteModal-{{ product.id }}" 
                                            class="delete-link ml-3">Delete</button>

                                        <!-- Delete Product Modal-->
                                        <div class="modal" tabindex="-1" role="dialog" id="deleteModal-{{ product.id }}">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Delete Product</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Are you sure you want to delete this product?</p>
                                                        <p>This action is permanent and cannot be undone!</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a href="{% url 'delete_product' product.id %}" class="btn btn-outline-red my-2">
                                                            <span class="mr-2"><i class="fa-solid fa-trash-can"></i></span>
                                                            <span>Delete Product</span>
                                                        </a>
                                                        <button type="button" class="btn btn-outline-blue" data-dismiss="modal">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- set the columns depending on no of items -->
            {% if forloop.counter|divisibleby:1 %}
                <div class="col-10 offset-1 d-sm-none mb-5">
                    <hr>
                </div>
            {% endif %}
            {% if forloop.counter|divisibleby:2 %}
                <div class="col-10 offset-1 d-none d-sm-block d-md-block d-lg-none mb-5">
                    <hr>
                </div>
            {% endif %}
            {% if forloop.counter|divisibleby:3 %}
                <div class="col-10 offset-1 d-none d-none d-lg-block d-xl-none mb-5">
                    <hr>
                </div>
            {% endif %}
            {% if forloop.counter|divisibleby:4 %}
                <div class="col-10 offset-1 d-none d-xl-block mb-5">
                    <hr>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <!-- Back to top button -->
    <div class="back-to-top">
        <a class="back-to-top-btn btn btn-outline-blue">
            <i class="fa-solid fa-chevron-up fa-lg"></i>
        </a>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}

    <!-- Back to top button -->
    <script>
        $('.back-to-top').click(function(e) {
            window.scrollTo(0,0)
        })
    </script>

    <!-- JQuery for the select dropdown -->
    <script>
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);
            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];
                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);
                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");
                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}