{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Products{% endblock %}

<!-- Extra meta tags specific to the page to be put here -->
{% block extra_meta %}
    <meta name="description" content="DESCRIPTION">
    <meta name="keywords" content="KEYWORDS">

    <!-- Social media integration, for when people share your content -->
    <!-- Facebook, LinkedIn, Google -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Seaside Sewing - Products" /> <!-- Same as what's inside <title> tag -->
    <!-- The title you want displayed when your page is linked to -->
    <meta property="og:description" content="DESCRIPTION OF PAGE CONTENT" /> <!-- Same as what's inside description meta tag -->
    <!-- The description you want displayed when your page is linked to (maximum 300 characters) -->
    <meta name="image" property="og:image" content="URL TO IMAGE" />
    <!-- URL of image to be displayed when your site is linked to -->
    <!-- Be careful when building non-static sites like your MS3 and MS4, this can be a little tricky -->
    <meta property="og:image:alt" content="ALT TEXT FOR IMAGE" /> <!-- Alt text for above image - an accessibility win -->
    <meta property="og:url" content="#" /> <!-- Your page's URL -->
    <meta property="og:site_name" content="Seaside Sewing - Products" /> <!-- Same as what's inside <title> tag -->
{% endblock %}

{% block content %}
    <div class="row text-center px-2">
        <h2>Products</h2>
        <div class="col pb-5">
            {% for c in current_categories %}
                <a href="{% url 'products' %}?category={{ c.name }}" class="btn btn-outline-blue mx-1">{{ c.friendly_name }}</a>
            {% endfor %}
        </div>
    </div>

    <!-- Row to hold the no of products and sorting dropdown -->
    <div class="row">
        
    </div>

    <!-- Products Display Here-->
    <div class="row">
        {% for product in products %}
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="card h-100 border-0">
                    {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top img-fluid">
                        </a>
                    {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img src="{{ MEDIA_URL }}noimage.webp" alt="{{ product.name }}" class="card-img-top img-fluid">
                        </a>
                    {% endif %}
                    <div class="card-body pb-0">
                        <p class="mb-2">{{ product.name }}</p>
                    </div>
                    <div class="card-footer bg-white pt-0 border-0 text-left">
                        <div class="row">
                            <div class="col">
                                <p class="lead text-left mb-1">£{{ product.price }}</p>
                                {% if product.category %}
                                    <p class="small mt-1 mb-2">
                                        <a href="{% url 'products' %}?category={{ product.category.name }}" class="text-muted">
                                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                        </a>
                                    </p>
                                {% endif %}
                        
                                <!-- ADD PRODUCT RATING HERE IF IT EXISTS-->

                                {% if request.user.is_superuser %}
                                    <div>
                                        <a href="#" class="btn btn-outline-green">Edit</a>
                                        <a href="#" class="btn btn-outline-red">Delete</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-sm-none mb-5">
                    <hr>
                </div>
            {% endif %}

            {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                    <hr>
                </div>
            {% endif %}
            
            {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-none d-lg-block d-xl-none mb-5">
                    <hr>
                </div>
            {% endif %}

            {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block mb-5">
                    <hr>
                </div>
            {% endif %}

        {% endfor %}

        <!-- Add a back to top button -->
    </div>
{% endblock %}